---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$logourl: "/assets/bg.jpg";
$headfontcolor: #ffffff;
$overcolor: #333f50;
$overcolor-transparent: rgba($overcolor, 0.5);//  rgba(51, 63, 80, 0.5); // ;
$light : lighten($overcolor, 30%);
$dark : darken($overcolor, 10%);
$head-height: 100%;

@import
        "media-query"
        , "icomoon"

;

html { 
    height: 100%;

  }

body {
    //display: flex;
    //flex-direction: column;
    height: 100%;
}

header {
    background: url($logourl) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $head-height;;
}

main {
    margin: 1em;
    color: $overcolor;
    font-size: 1.2em;

    display: flex;
    justify-content: center;

    h2 {text-align: center;}

    div {
        max-width: 800px;
    }

}

.site-nav .page-link {
    color: $headfontcolor;

    @include media-query($on-palm) {
        color: $overcolor; 
    }
}

div#overlay {
    height: $head-height;
    width: 100%;
    position: absolute;
    top: 0;
    background: radial-gradient(at bottom, rgba(#0c3270, 0.7) 20%, $light);
    background-color: $overcolor-transparent;
    
    color: $headfontcolor;

    display: flex;
    flex-direction: column;

    div#menu
    {
        
        padding-right: 2em; 
        height: $menu-height;
        background-color: rgba($overcolor, 0.7);
    }
    
    div#title {
         margin-left: auto; margin-right: auto;
         //max-width: 20em;
         text-align: center;
         padding: 0em 1em 0em 1em;
        
                  
        h1 {  
            display: inline;
            font-size: 3em;
            
        }

        .first-btn {
            margin-top: 3em;
        }

        .main-logo
        {
            margin-top: 4em;
        }

        .icon-node-play::before
        {
           color: $headfontcolor;
           font-size: 12em;
        }

        @include media-query-width-height(800px, 800px)
        {
            .main-logo
            {
                margin-top: 2em;
            } 

            .icon-node-play::before
            {
                color: $headfontcolor;
                font-size: 6em;
            }
        }

        @include media-query-width-height(300px, 650px)
        {
            .main-logo
            {
                display: none;
            } 

           
        }


        @include media-query($on-palm) {
                
            h1 {font-size: 2em;}

            .first-btn {
                    margin-top: 1.5em;
                
            }
        }

        a {

            &:visited
                {
                    color: $headfontcolor; 
                }
            

            div {

                font-size: 1.5em;

                border: 1px;
                border-style: solid;
                border-radius: 5px;
                max-width: 10em;
                background-color: $light;
                margin-bottom: 0.5em;
                margin-left: auto;
                margin-right: auto;

                cursor: pointer; 

                span {
                    display: inline;
                    float: right;
                    border: 0em;
                    margin-right: .2em;
                    margin-top: 0.3em;
                    font-size: 1em;
                }

                &:hover
                {
                    background-color: $dark;
                }

                &:active
                {
                    border-style: inset;
                }

            }

        }
       
    }
    
}

div#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    > div {
        border: 1px;
        border-style: solid;
        border-radius: 5px;
        width: 18em;
        margin: 0 .5em 0 .5em;
        
        > a 
        {
            &:visited
            {
                color: $overcolor;
            }

            &:hover
            {
                color: $headfontcolor;
                
            }
        
            > div
            {
                margin: 1em;
                display: flex;
                align-items: center;
                
                &:hover
                {
                    background-color: $overcolor; 
                }

                > span 
                {
                                                
                    &:first-child
                    {
                        margin-right: 0.5em;
                        font-size: 3em;
                    }

                    &:nth-child(2)
                    {
                        font-size: 1.5em;
                    }
                }
            }
        }

        > div
        {
            margin: 1em;
            border-top: 1px solid $dark;
            padding-top: 1.5em;
        }
                
    }
}


