---
date: 2019-01-25 12:00:00 
description: MediaGoom is an open source media streaming Framework. It aims at effectively implement Web Streaming. It supports MPEG DASH (dynamic adaptive streaming over http) and HLS (Http Live Streaming).
title: Home
order: 1
---
<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="msvalidate.01" content="DF9F9B82203EBFA91D3314C58C962FEE" />
    
    <meta name="description" content="{{ page.description }}">

    <title>Media Goom. Essential Adaptive Web Streaming with MPEG DASH and HLS.</title>
    
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/main2.css" rel="stylesheet">

</head>
<body>

        <header>
            <div id="overlay">
                <div id="menu">
                {% include nav.html %}
                </div>
                <div id="title">
                    
                    <h1>
                        Media Goom. 
                        <br> Essential Adaptive Web Streaming with MPEG-DASH and HLS.
                        <br> An Open Source Media Framework.
                    </h1>

                    <a href="#works"><div class="first-btn">How it works<span class="icon-chevron-right"></span></div></a>
                    <a href="#started"><div>Getting Started<span class="icon-chevron-right"></span></div></a>

                    <div class="main-logo">
                        <span class="icon-node-play"></span>
                    </div>

                </div>

                    
            </div>
        </header>
        
        <main>
            <div>
            <h2 id="works">How it works</h2>
            {{ page.description }}
            <br>
            It's composed of several <a href="/projects">projects</a>. The main ones are:

            <div id="projects">
                <div>
                    <a href="/node-play">
                        <div>
                            <span class="icon-node-play"></span> 
                            <span>node-play</span>
                        </div>
                    </a>
                    <div>
                        node-play is a Streaming Server. 
                        <br>It allows to upload a video file and have it converted and streamed on the web. 
                    </div>
                </div>

                <div>
                    <a href="/mg">
                        <div>
                            <span class="icon-mg"></span> 
                            <span>mg</span>
                        </div>
                    </a>
                    <div>
                        mg is a media packager.
                        <br>It allows to package a series of mp4 files into hls or mpeg dash. 
                    </div>
                    
                </div>
            </div>


            <h2 id="started">Getting Started</h2>

            The simplest way to get started is to install node-play. In order to install node-play please follow the instruction
            you can find <a href="/node-play">here</a>.
            <br>
            After 

            </div>

        </main>
        





    {% if jekyll.environment == "production" %}
        {% include ga.html %}            
	{% endif %}

</body>
</html>
