---
date: 2019-01-25 12:00:00 
description: MediaGoom is an open source media streaming Framework. It aims at effectively implement Web Streaming. It supports MPEG DASH (dynamic adaptive streaming over http) and HLS (Http Live Streaming).
title: Home
order: 1
---
<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="msvalidate.01" content="DF9F9B82203EBFA91D3314C58C962FEE" />
    
    <meta name="description" content="{{ page.description }}">

    <title>Media Goom. Essential Adaptive Web Streaming with MPEG DASH and HLS.</title>
    
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/main2.css" rel="stylesheet">

</head>
<body>

        <header>
            <div id="overlay">
                <div id="menu">
                {% include nav.html %}
                </div>
                <div id="title">
                    
                    <h1>
                        Media Goom. 
                        <br> Essential Adaptive Web Streaming with MPEG-DASH and HLS.
                        <br> An Open Source Media Framework.
                    </h1>

                    <a href="#works"><div class="first-btn">How it works<span class="icon-chevron-right"></span></div></a>
                    <a href="#started"><div>Getting Started<span class="icon-chevron-right"></span></div></a>

                    <div class="main-logo">
                        <span class="icon-node-play"></span>
                    </div>

                </div>

                    
            </div>
        </header>
        
        <main>
            <div>
            <h2 id="works">How it works</h2>
            {{ page.description }}
            <br>
            
            MediaGoom will serve your video over the web. 
            With MediaGoom you can power your webtv solution either for the internet or for your intranet.
            <br>
            You can use MediaGoom for your:
            <ul>
                <li>communication</li>
                <li>e-learning</li>
                <li>advertising</li>
            </ul>
            <br>
            MediaGoom allows you to process your media file in order to be able to stream them on the web. 
            <ul>
                <li>It uses the latest and most efficient protocols for accessing media over HTTP.</li>
                <li>It uses HLS and mpeg dash to adaptively serve your media. </li>
            This means that your viewers will get a better experience when they have more network bandwidth available  
            and less quality of viewing whit less bandwidth but will still be able to watch.
                <li>It is able to receive your file in upload and then  encode your files using a mpeg dash encoder and an hls encoder.</li>
                <li>It is able to playback your files on any browser on any device using a dedicated player.</li>
            </ul>
            <br>

            MediaGoom is composed by several services divided for each task in order to give the most flexible solution.
            <br>
            MediaGoom node-play project allows you to access a ready to use solution witch combine most of the functionality. 
            <br>
            You can use the oder project to build your on solution to fit your needs when you need more flexibility.
            With the oder MediaGoom projects you are able to:
            <ul>
                <li>drive your media workflow</li>
                <li>package your media in HLS and MPEG-DAS</li>
                <li>play your media in any browser and device</li>
            </ul>
            <br>

            <h2 id="started">Getting Started</h2>

            The simplest way to get started is to install node-play. In order to install node-play please follow the instruction
            you can find <a href="/node-play">here</a>.
            <br>
            
            After installing node-play you will able to upload your video files.
            <br>
            node-play will then take care of running a media workflow to 
            <ul>
                <li>encode your files in different bitrate to empower adaptive streaming</li>
                <li>package your files in mpeg dash and hls</li> 
                <li>Have a web page ready to allow your users to watch your media</li>
            </ul>
            <br>

            </div>

        </main>
        





    {% if jekyll.environment == "production" %}
        {% include ga.html %}            
	{% endif %}

</body>
</html>
